
body{
    background-color: darkgreen;
}

.container{
    width: 50%;
    margin: 2em auto;
    padding: 1em 3em 3em 3em;
    border-radius: 1em;
    background-color:beige;
    box-shadow: 2px 2px #ddd;
    text-align: center;
}


img{
    width: 40%
}